<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<link href="{{ this.module.assetsUrl }}/static/css/pure.css" type="text/css" rel="stylesheet">
	<link href="{{ this.module.assetsUrl }}/static/css/pure-skin.css" type="text/css" rel="stylesheet">
	<link href="{{ this.module.assetsUrl }}/static/css/main.css" type="text/css" rel="stylesheet">
	<title>关于我们</title>
</head>
<body>

<div class="container">
	<h2 class="page-title">关于我们</h2>
	<p class="page-content">集合啦隶属于成都零创科技有限公司，我们是一个拥有奋斗情怀，愉快工作的创业型团队，团队拥有规范的管理制度，良好地晋升制度以及人性化的福利待遇，欢迎有奋斗精神的有识之士加入。</p>

	<p>
		<span class="page-content-tip">邮箱：</span>
		<span class="page-content-text">Lingchuang@jhla.com.cn</span>
	</p>

	<p>
		<span class="page-content-tip">地址：</span>
		<span class="page-content-text">四川成都市高新区吉泰五路88号2栋33层3313号</span>
	</p>
</div>


</body>
</html>