<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<link href="{{ this.module.assetsUrl }}/static/css/pure.css" type="text/css" rel="stylesheet">
	<link href="{{ this.module.assetsUrl }}/static/css/pure-skin.css" type="text/css" rel="stylesheet">
	<link href="{{ this.module.assetsUrl }}/static/css/main.css" type="text/css" rel="stylesheet">
	<title>业务合作</title>
</head>
<body>

<div class="container">
	<h2 class="page-title">业务合作</h2>
	<p class="page-content">线下活动合作及赞助请联系：</p>
	<p class="page-content">
		<span class="page-content-tip">定山QQ：</span>
		<span class="page-content-text">1666504706</span>
	</p>
	<p class="page-content">线上合作请联系：（需注明来意）</p>
	<p class="page-content">
		<span class="page-content-tip">猫拳QQ：</span>
		<span class="page-content-text">308859305</span>
	</p>
</div>


</body>
</html>