<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<link href="{{ this.module.assetsUrl }}/static/css/pure.css" type="text/css" rel="stylesheet">
	<link href="{{ this.module.assetsUrl }}/static/css/pure-skin.css" type="text/css" rel="stylesheet">
	<link href="{{ this.module.assetsUrl }}/static/css/main.css" type="text/css" rel="stylesheet">
	<title>版权申明</title>
</head>
<body>

<div class="container">
	<h2 class="page-title">版权申明</h2>
	<h3 class="page-stitle">一、内容说明</h3>
	<p class="page-content">本app的所有内容（包括但不限于文字、图表、标识、按钮图标、图像、声音片段、数据及软件等）之知识产权，均为广州市涵浩网络科技有限公司所有，并受著作权法的保护。未经广州市涵浩网络科技有限公司书面同意，请勿自行使用、转载、修改、复制、发行、出售、发表或以其它方式利用本app之内容。</p>
	<p class="page-content">1、凡注明集合啦（ www.jhla.com.cn）独家稿件的文章，非集合啦内容合作媒体，请勿转载！您若需此方面的服务，请和本app相关部门人员接洽。</p>
	<p class="page-content">2、凡文章内出处注明是集合啦合作伙伴的文章，版权归属集合啦的合作伙伴。</p>
	<p class="page-content">3、集合啦网站版权声明、集合啦论坛版权声明、集合啦免责声明、集合啦用户注册协议是不可分割的整体，具有同等效力，使用本app应当一并阅读。上述四份声明的修改及更新权均属于集合啦所有。</p>
	<p class="page-content">以上版权声明并不包含由本app链接到的属于其他方的网站或app之内容。本app不对该等其他链接网站的内容负责，任何对其他网站的链接仅为本app用户的方便而设。</p>

	<h3 class="page-stitle">二、免责声明与责任限制</h3>
	<p class="page-content">集合啦力求给您提供安全、通畅的访问和其他服务，但由于Internet线路、垃圾邮件、黑客入侵或其他不可抗力等原因直接给您造成了损害，本app不负任何责任。</p>
	<p class="page-content">1、内容可能不正确或有编排上的错误。本app不承认所有默示和/或明示的保证、并且不保证内容的正确性、可靠性、完整性或及时性。本app对内容以及网站上登载的或与网站链接的任何事物，包括但不限于任何谬见、错误、遗漏、侵权、毁谤、谎言、或者其他可能是犯法或会引起权利主张或投诉的资料或遗漏不承担任何责任。本app不保证资料的正确性、可靠性、完整性或及时性。本app对网站内容的错误或遗漏，或者任何用户通讯或个人化装置的删除、传输错误或未存储不承担任何责任。</p>
	<p class="page-content">2、本app不保证以下事项:本app目前或今后任何时候毫无错误，本app及其服务器目前或今后任何时候没有计算机病毒或其它有害机能，任何缺陷会被纠正，或者本app的运作是及时、安全和不会中断的。如果由于您使用本app，导致需要修理或更换设备或数据，本app不负责任何由此而产生的费用。</p>

	<h3 class="page-stitle">三、用户隐私权</h3>
	<p class="page-content">集合啦(www.jhla.com.cn)，以下称"本app")隐私权和版权保护声明系本app与用户产生直接或间接互动关系时保护用户个人隐私的相关承诺及免责条款。如果您访问本app成为我们的用户，请您务必认真阅读本声明：</p>
	<h3 class="page-content-title">1、关于个人资料</h3>
	<p class="page-content">当您在本app进行注册登记、试用装申领等网站活动时，在您的同意并确认下，本app将通过注册表格要求您提供一些个人资料。这些个人资料包括：</p>
	<p class="page-content">个人识别资料：如姓名、性别、出生日期、证件号码、电话、通信地址、电子邮件等。</p>
	<p class="page-content">在未经您同意并确认之前，本app不会将您为相应活动提供的个人资料用于其它目的。但当政府机关依照法定程序要求本app披露您个人资料时，本app将根据行政主管单位或执法单位之要求提供个人资料，在此情况下之任何披露，本app均得免责。</p>
	<h3 class="page-content-title">2、未成年人隐私权的保护</h3>
	<p class="page-content">本app郑重声明：任何16岁以下的未成年人参加网上活动应事先得到家长或其法定监护人的可经查证的同意。监护人应承担保护未成年人在网络环境下的隐私权的首要责任。</p>
	<p class="page-content">未法定经监护人同意，本app将不会使用未成年人的个人资料，亦不会向任何第三方披露或传送可识别该未成人的个人资料。</p>
	<p class="page-content">若经未成人之法定监护人同意，本app可对未成年人之个人资料进行收集。本app如收集未成年人的个人资料，这些资料只是单纯作为保护未成年人参与网络活动时的安全，而非作为其它目的之利用。</p>
	<h3 class="page-content-title">3、免责</h3>
	<p class="page-content">以下情况本app亦毋需承担任何责任：</p>
	<p class="page-content">当政府机关依照法定程序要求本app披露您个人资料时，本app将根据行政主管单位或执法单位之要求提供个人资料，在此情况下之任何披露，本app均得免责。</p>
	<p class="page-content">由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。</p>
	<p class="page-content">任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等。</p>
	<p class="page-content">由于与本app链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。</p>
	<p class="page-content">以上情况本app亦毋需承担任何责任。</p>

	<h3 class="page-stitle">四、信息发布规则</h3>
	<p class="page-content">本app对于使用者在站内发布的信息和言论不承担任何法律责任，该信息和言论的的真实性、准确性和合法性均由发布者自行负责，并且本app有权删除不适当的信息和言论。</p>
	<p class="page-content">你同意将不会利用本app进行任何违法或不正当的活动，包括不会在本app上载、张贴、复制、发布、传播含有下列内容的信息：</p>
	<p class="page-content">1. 反对宪法所确定的基本原则的;</p>
	<p class="page-content">2. 危害国家安全、泄漏国家机密、颠覆国家政权、破坏国家统一的;</p>
	<p class="page-content">3. 损害国家荣誉和利益的;</p>
	<p class="page-content">4. 煽动民族仇恨、民族歧视、破坏民族团结的;</p>
	<p class="page-content">5. 破坏国家宗教政策、宣扬邪教和封建迷信的;</p>
	<p class="page-content">6. 散播谣言、扰乱社会秩序、破坏社会稳定的;</p>
	<p class="page-content">7. 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的;</p>
	<p class="page-content">8. 侮辱或者诽谤他人、侵害他人合法权益的;</p>
	<p class="page-content">9. 侵犯版权的;</p>
	<p class="page-content">10. 含有法律、行政法规禁止的其它内容的。</p>
	<p class="page-content">本app有权对上述违法或不当行为作出处置。</p>
	<p class="page-content">当您在本app使用第三者提供的服务时，您同意遵守由第三者订定的服务规则。</p>
	<p class="page-content">如果您无法遵守本份最新使用条款，请勿申请和使用本app提供之服务，谢谢您的合作。</p>
</div>


</body>
</html>