<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<link href="{{ this.module.assetsUrl }}/static/css/pure.css" type="text/css" rel="stylesheet">
	<link href="{{ this.module.assetsUrl }}/static/css/pure-skin.css" type="text/css" rel="stylesheet">
	<link href="{{ this.module.assetsUrl }}/static/css/main.css" type="text/css" rel="stylesheet">
	<title>问题反馈</title>
</head>
<body>

<div class="container">
	<h2 class="page-title">问题反馈</h2>
	<form class="pure-form">
		<textarea class="pure-input-1"  name="" id=""></textarea>
	</form>
	<a class="pure-button pure-button-primary mt1em" href="#">发送</a>
</div>


</body>
</html>