<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<title>微信下载页面</title>
<style>
html, body {
	font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
body {
	background-color: #fff;
}
.title {
	font-size: 16px;
	font-weight: bold;
	color: #39c;
	text-align: center;
}
.download-wrap {
	text-align: center;
}
.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 10px 22px;
	text-align: center;
	background-color: #ff4e00;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
.btn:hover {
	background-color: #f9b146;
}
.tip {
	display: block;
	font-size: 12px;
	margin-top: 8px;
	color: #666;
}
</style>
</head>
<body>

<p class="title">猛击下方就可以下载集合啦！</p>
<div class="download-wrap">
	<a class="android-btn btn" href="http://app.jhla.com.cn/act/appInfo/lastVersionApk">Andorid 版</a>
	<span class="tip">(如用微信下载，请点击右上角打开其他浏览器进行下载)</span>
</div>	

</body>
</html>