.h_1{margin-left: 30px; width:970px;height: 60px;line-height: 60px;font-weight: bold;}
.h_2{float:left; width: 17px;height: 100%;background: url('../../images/icon-list-title.png') no-repeat center;}
.h_3{float:left;width:  auto;height: 100%;font-size: 16px;margin-left:5px;}
.clear{clear: both;}

.m_1{margin-left: 30px; width:940px;height: auto;background-color: white;}
.dh{width: 100%;height: 54px;}
.dh1{display: block; float: left; width:125px; height: 50px;line-height: 50px;border-top:3px solid #FF9934;border-right: 1px solid #DEDEDE;cursor: pointer;font-size: 16px;text-align: center;}
.dh2{display: block;float: left; width:125px; height: 50px;line-height: 50px;border-right: 1px solid #DEDEDE;border-top: 1px solid #DEDEDE;border-bottom: 1px solid #DEDEDE;cursor: pointer;text-align: center;font-size: 16px;}
.dh3{float: left; width:182px; height: 50px;line-height: 50px;border-right: 1px solid #DEDEDE;border-top: 1px solid #DEDEDE;border-bottom: 1px solid #DEDEDE;}

.fx{background: url('../../images/icon-list-share.png') no-repeat 30%;border-left:1px solid #DEDEDE;}
.qd{background: url('../../images/icon-list-qrcode.png') no-repeat 13%;}
.sh{background: url('../../images/icon-list-examine.png') no-repeat 15%;}
.fz{background: url('../../images/icon-list-group.png') no-repeat 30%;}
.tz{background: url('../../images/icon-list-note.png') no-repeat  15%;}
.xc{background: url('../../images/icon-list-album.png') no-repeat 30%;}
span{color: #656565;}




.lr{width: 100%;height:750px;}
.lr_left{float: left; margin-left: 20px; width: 490px;height: auto; }
.lr_type{width:390px;height: 40px;line-height: 40px; margin-top: 70px;border-bottom: 1px solid #E4E3E8;color: #767676;}
.left_nr{margin-top: 25px; width:390px;height:  auto; }
.tixin_left{width: 100%;height:18px;line-height:18px;margin-top:10px; color: #666666;vertical-align: middle;font-size: 12px; }
.checkbox input{ 
    height: 16px;
     width: 16px;
}
.lr_right{float: left; width:  auto;height: auto; }

.tj{width: 100%;height: 38px;}
.tj_right{
    margin: 0 auto;
    width: 108px; 
    height: 38px;
    line-height: 38px;
    background-color: #FF9934;
    text-align: center;    
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    }
.tj_left
{
    margin: 0 auto;
    width: 108px; 
    height: 38px;
    line-height: 38px;
    background-color: #FF9934;
    text-align: center;    
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.checkbox{width: 100%;height: 25px;line-height: 25px;}
.checkboxs{vertical-align:middle;height:25px;}







 