{% extends '/modules/org_v2/views/layouts/inner.twig' %}
{% block title %}活动分享{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ this.module.assetsUrl }}/static/css/activity/activity_sign.css"/>
{% endblock %}
{#主工作区#}
{% block body %}
     <div class="h_1" >
        <div class="h_2"></div>
        <div class="h_3">齐丽萍决定是否合适的客户发送的空间发挥</div>
        <div class="clear" ></div>
     </div>
     <div class="m_1">
        <div class="dh">
           <a href="/org_v2/default/activity_share" class="dh2 fx"><span>&nbsp;&nbsp;&nbsp;&nbsp;分享</span></a>
           <a href="/org_v2/default/activity_sign" class="dh1 qd"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设置签到点</span></a>
           <a href="/org_v2/default/activity_check" class="dh2 sh"><span>&nbsp;&nbsp;&nbsp;&nbsp;报名审核</span></a>
           <a href="/org_v2/default/activity_group" class="dh2 fz"><span>&nbsp;&nbsp;&nbsp;&nbsp;分组</span></a>
           <a href="/org_v2/default/activity_inform" class="dh2 tz"><span>&nbsp;&nbsp;&nbsp;&nbsp;活动通知</span></a>
           <a href="/org_v2/default/activity_photo" class="dh2 xc"><span>&nbsp;&nbsp;&nbsp;&nbsp;相册</span></a>
           <div class="dh3"></div><div class="clear" ></div>
        </div>
        <div class="lr">
           <div class="lr1">
              <div class="lr2"></div>
              <div class="lr3">
                 <div class="sz">
                  整个活动中，你需要成员共签到：<input type="text" maxlength="2" style="width:18px;text-align: center;height:18px;margin-top: 5px;border-radius: 4px;color: #999999;border: 1px solid #e4e4e7;" /> 次
                 </div>
                 <div class="fqdd" style="">确 定</div>
              </div>
              <div class="clear" ></div>
           </div>
        
            <div class="lr_fx">
             <!--循环--->
                 <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
                 
                 
                 
                                  <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
                 
                                  <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
                 
                                  <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
                 
                                  <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
                 
                                  <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
                 
                                  <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
                 
                                  <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
                 
                                  <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
                 
                                  <div style="float: left; width: 172px;height: 172px;background-color: #F6F6F6;margin-left:10px;margin-bottom: 10px;">
                     <div style="width: 132px;height: 132px;margin:0 auto;margin-top: 20px;background-color:white;"></div>
                 </div>
               
                
               <!--循环end--->
               <div class="clear" ></div>
            </div>
            
            <div class="fh">
               <a class="fh2" href="#"> 批量下载 </a>
               <a class="fh1" href="/org_v2/default/activity_list"> 返 回 </a>
            </div>
            <div class="fhh"></div>
            
      </div>
      
     </div>

 
 
 
 
 
 
{% endblock %}
{#主工作区 结束#}
{% block script %}
     <script src="{{ this.module.assetsUrl }}/static/js/hm.activity_sign.js"></script>
{% endblock %}