{% extends '/modules/org_v2/views/layouts/inner.twig' %}
{% block title %}活动分享{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ this.module.assetsUrl }}/static/css/activity/activity_check.css"/>
{% endblock %}
{#主工作区#}
{% block body %}
     <div class="h_1" >
        <div class="h_2"></div>
        <div class="h_3">齐丽萍决定是否合适的客户发送的空间发挥</div>
        <div class="clear" ></div>
     </div>
     <div class="m_1">
        <div class="dh">
           <a href="/org_v2/default/activity_share" class="dh2 fx"><span>&nbsp;&nbsp;&nbsp;&nbsp;分享</span></a>
           <a href="/org_v2/default/activity_sign" class="dh2 qd"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设置签到点</span></a>
           <a href="/org_v2/default/activity_check" class="dh1 sh"><span>&nbsp;&nbsp;&nbsp;&nbsp;报名审核</span></a>
           <a href="/org_v2/default/activity_group" class="dh2 fz"><span>&nbsp;&nbsp;&nbsp;&nbsp;分组</span></a>
           <a href="/org_v2/default/activity_inform" class="dh2 tz"><span>&nbsp;&nbsp;&nbsp;&nbsp;活动通知</span></a>
           <a href="/org_v2/default/activity_photo" class="dh2 xc"><span>&nbsp;&nbsp;&nbsp;&nbsp;相册</span></a>
           <div class="dh3"></div><div class="clear" ></div>
        </div>
        <div class="lr">
           <div class="lr1">*收费活动，如审核拒绝，须为报名用户提供退款服务！</div>
           <div  class="xxk">
               <div class="wsh"></div>
               <div class="ybm"></div>
           </div>
           <div class="neiron">
          <!--未审核-->
          <div class="wsh_lr" style="display: none;">
           <table class="table table-hover">
            <thead>
             <tr>
                <th style="text-align: center;">序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>电话</th>
                <th>身份证号</th>
                <th>状态</th>
                <th style="text-align: center;">操作</th>
              </tr>
             </thead>
               <!---循环9-->
               <tr>
                <td style="text-align: center;">1</td>
                <td>123</td>
                <td>女</td>
                <td>13</td>
                <td>13980562513</td>
                <td>510105198603222222</td>
                <td>未审核</td>
                <td style="width:160px;">
                  <div class="tg" >
                     &nbsp;
                     <i class="icon iconfont"></i> 通 过
                  </div>
                  
                  <div class="jujue" >
                     &nbsp;
                     <i class="icon iconfont"></i> 拒 绝
                  </div>
                
                </td>
              </tr>
              <!---循环end--> 
           </table>
            <!--分页--->
            <div id="page2" style="width:460px;margin:0 auto;margin-top:30px;"></div>
          </div>
          
          
        <!--已报名-->
        <div class="ybm_lr">
           <table class="table table-hover">
            <thead>
             <tr>
                <th style="text-align: center;">序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>电话</th>
                <th>身份证号</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
             </thead>
               <!---循环9-->
               <tr>
                <td style="text-align: center;">1</td>
                <td>123</td>
                <td>女</td>
                <td>13</td>
                <td>13980562513</td>
                <td>510105198603222222</td>
                <td>已审核</td>
                <td>
                   <div class="jujue" >
                     &nbsp;
                    <i class="icon iconfont"></i> 拒 绝
                  </div>
                </td>
              </tr>
              <!---循环end--> 
           </table>
            <!--分页--->
            <div id="page1" style="width:460px;margin:0 auto;margin-top:30px;"></div>
          </div>
          
        </div>
            <div class="clear" ></div>
       </div>
        <div style="height: 30px;"></div>
     </div>

 
 
 
 
 
 
{% endblock %}
{#主工作区 结束#}
{% block script %}
     <script src="{{ this.module.assetsUrl }}/static/plugins/laypage/laypage.js"></script>
     <script src="{{ this.module.assetsUrl }}/static/js/hm.activity_check.js"></script>
{% endblock %}