<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <title>集合啦新页面</title>
    <link rel="stylesheet" href="{{ this.module.assetsUrl }}/static/css/common.css"/>
    <script src="{{ this.module.assetsUrl }}/static/js/hm.base.js"></script>
    <script src="{{ this.module.assetsUrl }}/static/js/hm.index.js"></script>
</head>
<body>



</body>
</html>
