<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<title>Document</title>
    <link href="{{ this.module.assetsUrl }}/static/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
</head>
<body>

<div id="container">
{{ act.detail_all  }}

</div> 

<script>

/*var act = "{{ act.detail_all  }}";*/

function HTMLDecode(text)
{
 var temp = document.createElement("div");
 temp.innerHTML = document.getElementById('container').innerHTML;
 var output = temp.innerText || temp.textContent;
 temp = null;
 return output;
}

function responseImg(img) {
	img.style.maxWidth = '100%';
}

document.getElementById('container').innerHTML = HTMLDecode();

var imgs = document.getElementsByTagName('img');
for (var i=0, l=imgs.length; i < l ; i++) {
	responseImg(imgs[i]);
}

</script>	
</body>
</html>