/*1*/
.c_1{width: 100%;height:auto;}
.c_2{margin: auto; width: 1200px;height: auto;}
.c_3{width: 100%;height: 80px;}
.c_4{float: left; width:168px;height:80px;background: url("../../images/index/c_1.png") no-repeat center;}
.c_5{display: block;float: right; width:102px;height:80px;line-height: 80px;text-align: center;cursor: pointer;font-weight: bold;font-size:20px;color: #676767;}
.c_6{display: block;float: right; width:102px;height:80px;line-height: 80px;text-align: center;cursor: pointer;color: #676767;font-weight: bold;font-size:20px;}
.c_7{float: right; width:102px;height:80px;line-height: 80px;text-align: center;font-weight: bold;font-size:20px;color:white;background: url("../../images/index/c_2.png") no-repeat center;}
/*2*/
.c1_1{width: 100%;height:35px;background-color: #F9F9F9;}
.c1_2{margin: auto; width: 1200px;height:35px;}
.c1_3{float: left; width: auto;height:35px;line-height: 35px;font-size: 16px;font-weight: bold;color: #656565;}
.c1_4{display: block; margin-left:25px; float: left; width: auto;height:35px;line-height: 35px;font-size: 16px;font-weight: bold;color: #FF6500; }
.c1_5{margin-left:25px;float: left; width: auto;height:35px;line-height: 35px;font-size: 16px;color: #656565;font-weight: bold; }

/*3*/
.c2_1,.twoc2_1,.threec2_1 {
    width: 150px;
    height: 452px;
    float: left;
    overflow: hidden;
}

.c2_2,.twoc2_2,.threec2_2{
    width: 100%;
    height: 100%;
}

.c2_3 {
    width: 100%;
    height: 100%;
    /*background: url("../../images/activity/1/p_a1.png") no-repeat center;*/
    background: url("../../images/activity/step_activity_basic.png") no-repeat center;
}

/*4*/
.c3_1 {
    width: 1200px;
    height: auto;
    /*background-color: #F9F9F9;*/
    margin: 20px auto;
    overflow: hidden;
}

.c3_2 {
    margin: auto;
    width: 1049px;
    height: auto;
}

.c3_3 {
    /* margin: auto; */
    width: 940px;
    height: auto;
}

.c3_4 {
    width: 100%;
    height: 28px;
}

.c3_5 {
    width: 100%;
    height: 47px;
}

.c3_5_1 {
    float: left;
    /* width: 130px; */
    height: 47px;
    line-height: 47px;
    color: #818A89;
    text-align: right;
    font-weight: bold;
    font-size: 22px;
    margin: 0 10px 0 15px;
}

.c3_5_2 {
    float: left;
    width: 610px;
    height: 47px;
    line-height: 47px;
}

.c3_5_3 {
    width: 610px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E3E4E8;
    font-size: 25px;
    color: #818A89;
}

.c3_6 {
    width: 100%;
    height: 38px;
}

.c3_7 {
    width: 100%;
    height: 47px;
}

.c3_7_4 {
    float: left;
    width: 800px;
    height: 47px;
    line-height: 47px;
    color: #818A89;
    font-size: 22px;
}

.c3_7_1 {
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E3E4E8;
    font-size: 25px;
    color: #818A89;
}

.c3_7_2 {
    width: 88px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E3E4E8;
    font-size: 25px;
    color: #818A89;
}

.c3_7_3 {
    width: 88px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E3E4E8;
    font-size: 25px;
    color: #818A89;
}

.c3_8 {
    width: 100%;
    height: 38px;
}

.c3_9 {
    width: 100%;
    height: 47px;
}

.c3_9_1 {
    width: 506px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E3E4E8;
    font-size: 25px;
    color: #818A89;
    background: url("../../images/activity/1/p_a2.png") no-repeat center;
}

.c3_10 {
    width: 100%;
    height: 28px;
}

/*��ͼ*/
.c3_11 {
    width: 830px;
    height: 550px;
    margin-left: 98px;
    border-radius: 5px;
    overflow: hidden;
}

/*end*/
.c3_12 {
    width: 100%;
    height: 52px;
    margin-top: 40px;
}

.c3_12_1 {
    display: block;
    margin: auto;
    width: 202px;
    height: 52px;
    background: url("../../images/activity/step_next.png") no-repeat center;
    cursor: pointer;
}

.c3_13 {
    width: 100%;
    height: 40px;
}

/***��2��**/
 

 

.twoc2_3 {
    width: 100%;
    height: 100%;
    background: url("../../images/activity/step_activity_detail.png") no-repeat center;
}

/*4*/
.twoc3_1 {
    width: 100%;
    height: auto;
    background-color: #F9F9F9;
}

.twoc3_2 {
    margin: auto;
    width: 1049px;
    height: auto;
}

.twoc3_3 {
    margin: auto;
    width: 100%;
    height: 65px;
    line-height: 80px;
    text-align: center;
    color: #FF9831;
    font-weight: bold;
    font-size: 22px;
}

.twoc3_4 {
    margin: auto;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: url("../../images/activity/2/p_a4.png") no-repeat center;
}

.twoc3_5 {
    margin: auto;
    width: 100%;
    height: 15px;
    line-height: 15px;
}

.twoc3_6 {
    margin: auto;
    width: 100%;
    height: 160px;
}

.twoc3_6_1 {
    float: left;
    width: 292px;
    height: 160px;
    background: url("../../images/activity/2/p_a5.png") no-repeat center;
    cursor: pointer;
}

.twoc3_6_2 {
    margin-left: 10px;
    float: left;
    width: 292px;
    height: 160px;
    background: url("../../images/activity/2/p_a5.png") no-repeat center;
    cursor: pointer;
}

.twoc3_6_3 {
    margin-left: 9px;
    float: left;
    width: 292px;
    height: 160px;
    background: url("../../images/activity/2/p_a5.png") no-repeat center;
    cursor: pointer;
}

.twoc3_6_4 {
    margin-left: 9px;
    float: left;
    width: 292px;
    height: 160px;
    background: url("../../images/activity/2/p_a5.png") no-repeat center;
    cursor: pointer;
}

.twoc3_7 {
    margin: auto;
    width: 920px;
    height:  auto;

}

.twoc3_8 {
    margin: auto;
    width: 920px;
    height: auto;
}

.twoc3_9 {
    margin: auto;
    width: 100%;
    height: 30px;
    color: #768082;
}

.twoc3_10 {
    margin: auto;
    width: 100%;
    height: 45px;
}

.twoc3_10_1 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    border: 2px solid #E3E4E8;
}

.twoc3_10_2 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    border: 2px solid #E3E4E8;
}

.twoc3_11 {
    margin: auto;
    width: 100%;
    height: 20px;
}

.twoc3_12 {
    float: left;
    width: 630px;
    margin-left: 10px;
}

.twoc3_13 {
    float: left;
    width: 100px;
    height: 45px;
    background: url("../../images/activity/2/p_a6.png") no-repeat center;
    cursor: pointer;
}

.twoc3_14 {
    width: 100%;
    height: 408px;

}

.twoc3_15 {
    width: 100%;
    height: 48px;
    line-height: 48px;
    color: #768082;
    font-size: 22px;
}

.twoc3_15_1 {
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    border: 2px solid #E3E4E8;
}

.twoc3_15_2 {
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    border: 2px solid #E3E4E8;
}

.twoc3_17 {
    width: 100%;
    height: 48px;
}

.twoc3_18 {
    width: 100%;
    height: 48px;
}

.twoc3_16 {
    display: block;
    margin: auto;
    width: 202px;
    height: 52px;
    background: url("../../images/activity/step_next.png") no-repeat center;
    cursor: pointer;
}

/***��3��**/
/*3*/
 
 

.threec2_3 {
    width: 100%;
    height: 100%;
    background: url("../../images/activity/step_activity_setting.png") no-repeat center;
}

/*4*/
.threec3_1 {
    width: 100%;
    height: auto;
    background-color: #F9F9F9;
}

.threec3_2 {
    margin: auto;
    width: 1049px;
    height: auto;
}

.threec3_3 {
    /* margin: auto; */
    width: 1000px;
    height: auto;
}

.threec3_4 {
    width: 100%;
    height: 28px;
}

.threec3_5 {
    width: 100%;
    height: 47px;
}

.threec3_5_1 {
    float: left;
    /* width: 230px; */
    height: 47px;
    line-height: 47px;
    color: #818A89;
    text-align: right;
    font-weight: bold;
    font-size: 22px;
}

.threec3_5_2 {
    float: left;
    width: auto;
    height: 47px;
    line-height: 47px;
}

.threec3_5_3 {
    width: 142px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E3E4E8;
    font-size: 25px;
    color: #818A89;
}

.threec3_5_4 {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-color: red;
}

.threec3_6 {
    width: 100%;
    height: 38px;
}

.threec3_7 {
    width: 100%;
    height: 47px;
}

.threec3_7_4 {
    float: left;
    width: 765px; 
    line-height: 47px;
    color: #818A89;
    font-size: 18px;
    overflow: hidden;
    height: auto;
}

.threec3_7_1 {
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E3E4E8;
    font-size: 25px;
    color: #818A89;
}

.threec3_7_2 {
    width: 88px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E3E4E8;
    font-size: 25px;
    color: #818A89;
}

.threec3_7_3 {
    width: 88px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E3E4E8;
    font-size: 25px;
    color: #818A89;
}

.threec3_7_5 {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.threec3_7_6 {
    float: left;
    width: 112px;
    height: 47px;
    background: url("../../images/activity/3/p_a4.png") no-repeat center;
}

.threec3_7_7 {
    float: left;
    width: 112px;
    height: 47px;
    background: url("../../images/activity/3/p_a5.png") no-repeat center;
}

.threec3_7_8 {
    float: left;
    width: 112px;
    height: 47px;
    background: url("../../images/activity/3/p_a6.png") no-repeat center;
}

.threec3_8 {
    width: 100%;
    height: 15px;
}

.threec3_9 {
    width: 100%;
    height: 173px;
}

.threec3_9_1 {
    margin-left: 173px;
    width: 745px;
    height: 173px;
    background-color: white;
}

.threec3_9_2 {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 112px;
    height: 47px;
    background: url("../../images/activity/3/p_a8.png") no-repeat center;
}

.threec3_10 {
    width: 100%;
    height: 48px;
}

.threec3_11 {
    margin: auto;
    width: 202px;
    height: 52px;
    background: url("../../images/activity/activity_post.png") no-repeat center;
    cursor: pointer;
}

.threec3_12 {
    width: 100%;
    height: 48px;
}

/*新增加css*/
#step_box {
    width: 1049px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    float: left;
    background: #F9f9f9;
}

#step_slider_box {
    width: 1000%;
    margin-left: 0;
    background: #abc;
}

.c3_2, .twoc3_2, .threec3_2 {
    float: left;
    margin:  0;
}

/*第一步 地图*/
#step1_map {
    width: 100%;
    height: 300px;
    background: #000;
}

#step1_ret {
    width: 100%;
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

.poi_box {
    width: 90%;
    margin: 0 auto;
    height: 50px;
    padding: 15px 0;
    border-bottom: 1px solid #CCC;
    padding-left: 5%;
}


.poi_index {
    width: 27px;
    height: 27px;
    border-radius: 3px;
    line-height: 27px;
    text-align: center;
    font-size: 18px;
    margin: 0 0 0 -35px;
    background: #FF9934;
    color: #FFF;
    font-family: "黑体";
    float: left;
}

.poi_title, .poi_addr {
    height: 25px;
    line-height: 25px;
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.poi_title {
    color: #FF6701;
    font-weight: 600;

}
.checked .poi_title{
    color: #000;
}
.poi_addr {
    color: #999;
    font-size: 12px;
    background: url("../../images/activity/loc.png") no-repeat center left;
    padding-left: 15px;
}

.poi_check {
    float: right;
}

.twoc3_6_1, .twoc3_6_2, .twoc3_6_3, .twoc3_6_4 {
    position: relative;
    width: 240px;
    background: url("../../images/activity/add_activity_img.png") no-repeat center 50%;
}

.uploader_btn, .uploader_prev, .uploader_mask, .uploader_loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.uploader_btn {
    border: none;
    background: none;
    text-indent: -1000px;
    overflow: hidden;
}

.uploader_loading {
    z-index: 10001;
    display: none;
    background: #FFF url("../../images/load.gif") no-repeat center;
}

.uploader_prev {
    z-index: 1002;
    display: none;
}

.uploader_mask {
    z-index: 1003;
    display: none;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in 0s;
    -moz-transition: opacity .5s ease-in 0s;
    -o-transition: opacity .5s ease-in 0s;
    -ms-transition: opacity .5s ease-in 0s;
    transition: opacity .5s ease-in 0s;
    background: rgba(255, 153, 52, .5);
}

.uploader:hover > .uploader_mask {
    display: block;
    opacity: 1;
}

.uploader_mask .closer {
    display: block;
    float: right;
    margin: 15px;
    width: 25px;
    height: 25px;
    background: #FFF;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-family: serif;
    font-weight: bold;
    color: #FF9831;
    text-shadow: 0 0 15px #FF9831;
    -webkit-text-stroke: 2px #FF9831;
    text-stroke: 2px #FF9831;
}
.thumb-radio,.thumb-text{
    display: none;
    position: absolute;
    z-index: 1005;
    width: 100%;
    height: 30px;
    line-height: 30px;
    left: 0;
    top: 65px;
    font-size: 16px;
    color: #FFF;
    font-family: "Microsoft YaHei", "Verdana", "Arial";
}
.thumb-text{
    font-size: 30px;
    text-align: center;
}
.thumb-radio i{
    width: 12px;
    height: 12px;
    text-align: center;
    border: 2px solid #FFF;
    border-radius: 18px;
    margin-right: 10px;
    /* margin: 0; */
    margin-left: 90px;
    float: left;
    margin-top: 8px;
}
.thumb-set .thumb-text {
    display: none;
}

.thumb-seted .thumb-radio{
    display: none;
}
.thumb-seted .thumb-text{
    display: block;
}


.thumb-set:hover .thumb-radio {
    display: block;
}



/*第三步资料*/

.ziliao_item,.ziliao_cust,.ziliao_edit{ 
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 112px;
    height: 40px;
    background: #FF9934;
    border-radius: 3px; 
    text-align: center;
    font-size: 16px;
    color: #FFF;
    line-height: 40px;
    cursor: pointer;
    position: relative;
}
.threec3_7_4 .ziliao_item{
    margin-top: 0;
    margin-bottom: 10px;
}

.threec3_9_1 .ziliao_item{
    background: #FFB264;
}
.ziliao_cust,.ziliao_edit{
    background: #F85993;
}
.ziliao_edit input{
    width: 100px;
    padding: 5px;
    padding-right: 0;
    margin-left: 1px;
}


.ziliao_item .closer {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #FFF;
    border-radius: 25px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-family: serif; 
    color: #FF9831;
    text-shadow: 0 0 15px #FF9831;
    -webkit-text-stroke: 2px #FF9831;
    text-stroke: 2px #FF9831;
    position: absolute;
    right: 10px;
    top: 14px;
    z-index: 10;
}


.step_to{
    display: block;
    /* float: left; */
    height: 150px;
    width: 200px;
    overflow: hidden;
    text-indent: 1000px;
}
.step_to_1{
    /*background: rgba(255,0,0,.5);*/
    /* margin-left: 300px; */
}
.step_to_2{
    /*background: rgba(0,255,0,.5);*/
}
.step_to_3{
    /*background: rgba(0,0,255,.5);*/
}


.threec3_5_1,.c3_5_1{
    font-weight: normal;
    font-size: 16px;
    color: #768082;
    margin: 0 10px 0 15px;
    min-width: 73px;
}

.cont-warp{
    margin: 15px;
    background: #FFF;
    overflow: hidden;
    height: auto;
    border-radius: 3px;
    padding: 15px;
}
.cont-title{
    line-height: 15px;

    height: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E8EA;
    color: #666;
}
.cont-body{
    padding: 15px 0;
}























