
/*ÄÚÈÝ*/
/*1*/
.c_1{width: 100%;height:auto;}
.c_2{margin: auto; width: 1200px;height: auto;}
.c_3{width: 100%;height: 100px;}
.c_4{float: left; width:200px;height:100px;background: url("../../images/activity/3/c_1.png") no-repeat center;}
.c_5{float: right; width:100px;height:100px;line-height: 100px;text-align: center;cursor: pointer;color: #676767;font-weight: bold;font-size:22px;}
.c_6{float: right; width:100px;height:100px;line-height: 100px;text-align: center;cursor: pointer;color: #676767;font-weight: bold;font-size:22px;}
.c_7{float: right; width:100px;height:100px;line-height: 100px;text-align: center;color:white;font-weight: bold;font-size:22px;background: url("../../images/activity/3/c_2.png") no-repeat center;}
/*2*/
.c1_1{width: 100%;height:40px;background-color: #F9F9F9;}
.c1_2{margin: auto; width: 1200px;height:40px;}
.c1_3{float: left; width: auto;height:40px;line-height: 40px;font-size: 16px;color: #656565;font-weight: bold;cursor: pointer;}
.c1_4{margin-left:25px; float: left; width: auto;height:40px;line-height: 40px;font-size: 16px;color: #FF6500;font-weight: bold;}
.c1_5{margin-left:25px;float: left; width: auto;height:40px;line-height: 40px;font-size: 16px;color: #656565;font-weight: bold;cursor: pointer;}
/*3*/
.threec2_1{width: 100%;height:auto;}
.threec2_2{margin: auto; width: 1200px;height: auto;}
.threec2_3{width: 100%;height:220px;background: url("../../images/activity/3/p_a1.png") no-repeat center;}
/*4*/
.threec3_1{width: 100%;height:auto;background-color: #F9F9F9;}
.threec3_2{margin: auto; width: 1200px;height: auto;}
.threec3_3{margin: auto;width:1000px;height:auto; }
.threec3_4{width: 100%;height:28px;}
.threec3_5{width: 100%;height:47px;}

.threec3_5_1{float: left;width:230px;height:47px;line-height: 47px; color: #818A89;text-align: right;font-weight: bold;font-size:22px;}
.threec3_5_2{float: left;width: auto;height:47px;line-height: 47px;}
.threec3_5_3{width:142px;height: 43px;line-height: 43px; border:2px solid #E3E4E8;font-size:25px;color: #818A89;}
.threec3_5_4{width:20px;height:20px; vertical-align:middle;background-color: red; }

.threec3_6{width: 100%;height:38px;}
.threec3_7{width: 100%;height:47px;}
.threec3_7_4{float: left;width: auto;height:47px;line-height: 47px;color: #818A89;font-size:18px;}
.threec3_7_1{width:120px;height:43px;line-height: 43px; border:2px solid #E3E4E8;font-size:25px;color: #818A89;}
.threec3_7_2{width:88px;height: 43px;line-height: 43px; border:2px solid #E3E4E8;font-size:25px;color: #818A89;}
.threec3_7_3{width:88px;height: 43px;line-height: 43px; border:2px solid #E3E4E8;font-size:25px;color: #818A89;}
.threec3_7_5{width:20px;height:20px;vertical-align:middle;}

.threec3_7_6{float: left;width:112px;height:47px;background: url("../../images/activity/3/p_a4.png") no-repeat center;}
.threec3_7_7{float: left;width:112px;height:47px;background: url("../../images/activity/3/p_a5.png") no-repeat center;}
.threec3_7_8{float: left;width:112px;height:47px;background: url("../../images/activity/3/p_a6.png") no-repeat center;}

.threec3_8{width: 100%;height:15px;}
.threec3_9{width: 100%;height:173px;}
.threec3_9_1{margin-left:230px;width: 722px;height:173px;background-color: white;}
.threec3_9_2{float: left;margin-top: 10px;margin-left: 10px; width:112px;height:47px;background: url("../../images/activity/3/p_a8.png") no-repeat center;}

.threec3_10{width: 100%;height: 48px;}
.threec3_11{margin: auto; width:202px;height:52px;background: url("../../images/activity/3/p_a3.png") no-repeat center;cursor: pointer;}
.threec3_12{width: 100%;height: 48px;}

