/**  pangation  */
@charset "utf-8";
.f_1{width: 100%;height:140px;background-color: #333333;}
.f_2{margin: auto;width: 1200px;height: auto;}
.f_3{margin: auto;width:100%;height:85px;}
.f_4{width:100%;height:45px;}
.f_5{width:100%;height:auto;text-align: center;color: #999999;}
.f_6{width:100%;height:auto;text-align: center;color: #999999; margin-top: 3px;}
.f_7{width:100%;height:auto;text-align: center;color: #999999;margin-top: 3px;}