{% extends '/modules/manager/views/layouts/main.twig' %}

{% block stylesheet %}
    <link media="all" href="{{ this.module.assetsUrl }}/sea-modules/arale/calendar/1.0.0/calendar.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="ui-box mt20">
    <div class="ui-box-head blue">
        <h3 class="ui-box-head-title">活动上传</h3>
    </div>
    <div class="ui-box-container mh380">
		<div id="mainPanel">

		</div>
    </div>
</div>
{%  endblock %}

{% block template %}
<script type="text/template" id="activeCreateTemplate">
	<div class="lc-ui-form" name="" method="post" action="#" id="">
		<div class="lc-ui-form-item">
			<p class="lc-ui-tab">活动修改</p>
		</div>
		<div class="lc-ui-form-item" id="businessWrap">
		</div>
	    <div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	        	封面图片:
	        </label>
	        <div class="lc-ui-rs">
	        	<span class="lc-ui-tip2">（封面图：640*300）</span>
		        <div class="lc-ui-wrap">
		        	<div id="headImgWrap">
		        		<div id="headImgUrl" class="head-img-wrap-hide"></div>
		        		<a class="ui-button ui-button-ldarkblue mt20 mb20" id="hImgReset">重置首图</a>
		        	</div>
			        <div class="sel-logo-wrap" id="headImgUpload">
			            <a class="ui-spe" id="uploaderActiveImg">选择图片</a>
			        </div>
		        </div>
		    </div>
	    </div>

	    <div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	        	活动图片:
	        </label>
	        <div class="lc-ui-rs">
	        	<span class="lc-ui-tip2">（活动图片：推荐使用长款比例为9:6的图片尺寸）</span>
		        <div id="imgListContainer" class="img-list-container">
		        </div>
		        <div class="sel-logo-wrap">
		            <a id="activeImgUpload" class="ui-spe">选择图片</a>
		        </div>
		    </div>
	    </div>

		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">标题:</label>
			<div class="lc-ui-rs">
				<input id="title" class="lc-ui-input w280" type="text" placeholder="">
				<span class="lc-ui-tip">(必填)</span>
			</div>
		</div>
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">内部标题:</label>
			<div class="lc-ui-rs">
				<input id="intro" class="lc-ui-input w280" type="text" placeholder="">
				<span class="lc-ui-tip">(必填)</span>
			</div>
		</div>
	    <div class="lc-ui-form-item">
	    	<label for="" class="lc-ui-label">&nbsp;</label>
	    	<div class="lc-ui-rs">
		    	<input value="0" checked="true"  type="radio" id="free" name="isFree" class=""><label class="radio-label"  for="">免费</label>
				<input value="1"type="radio" id="unfree" name="isFree" class=""><label class="radio-label" for="">收费</label>
				<input type="text" id="cost" class="none" placeholder="金额">
			</div>
	    </div>
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">地址（城市）:</label>
			<div class="lc-ui-rs">
				<input id="city" class="lc-ui-input w280" type="text" placeholder="">
				<span class="lc-ui-tip">(必填)</span>
			</div>
		</div>
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">地址（区）:</label>
			<div class="lc-ui-rs">
				<input id="area" class="lc-ui-input w280" type="text" placeholder="">
				<span class="lc-ui-tip">(选填)</span>
			</div>
		</div>
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">地址（路）:</label>
			<div class="lc-ui-rs">
				<input id="road" class="lc-ui-input w280" type="text" placeholder="">
				<span class="lc-ui-tip">(选填)</span>
			</div>
		</div>
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">地址（号）:</label>
			<div class="lc-ui-rs">
				<input id="number" class="lc-ui-input w280" type="text" placeholder="">
				<span class="lc-ui-tip">(必填)</span>
			</div>
		</div>
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">地址名称:</label>
			<div class="lc-ui-rs">
				<input id="addrName" class="lc-ui-input w280" type="text" placeholder="">
				<span class="lc-ui-tip">(必填)</span>
			</div>
		</div>
		<div>
			<label for="" class="lc-ui-label">&nbsp;</label>
			<div class="lc-ui-rs">
				<p>(由于需要使用经纬度，建议先点击地图，然后在地址栏中做修改)</p>
				<div>
					输入地点：<input class="ui-input" type="text" id="searchMapInput">
					<a href="javascript:;" id="searchMapBtn" class="ui-button ui-button-sdarkblue">搜索</a>
				</div>
				<div id="mapCreate" class="mt10 mb10"></div>
			</div>
		</div>
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">活动详情:</label>
			<div class="lc-ui-rs">
				<textarea name="" id="detail" class="detail-text"></textarea>
				<span class="lc-ui-tip">(选填)</span>
			</div>
		</div>	
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">交通信息:</label>
			<div class="lc-ui-rs">
				<input id="route" class="lc-ui-input w280" type="text" placeholder="">
				<span class="lc-ui-tip">(乘坐22，K2A，301到XXX站下车 选填)</span>
			</div>
		</div>
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">报名电话:</label>
			<div class="lc-ui-rs">
				<input id="contactWay" class="lc-ui-input w280" type="text" placeholder="">
				<span class="lc-ui-tip">(选填)</span>
			</div>
		</div>
		<div class="lc-ui-form-item">
			<label for="" class="lc-ui-label">是否支持报名:</label>
			<div class="lc-ui-rs">
				<input type="radio" checked="true" name="isenroll" value="0"><label class="radio-label" for="">否</label>
				<input type="radio" name="isenroll" value="1"><label class="radio-label"  for="">是</label>
				<span class="lc-ui-tip" id="isenrollTip"></span>
			</div>
		</div>	
		<div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	            活动标签:
	        </label>
	        <div class="lc-ui-rs">
		        <div id="tagsCon">
		        </div>
		        <div class="ui-industry-con">
		    		<p class="ind-text">最多只能创建一个标签</p>
		        </div>
		    </div>
	    </div>												
		<div class="lc-ui-form-item">	
			<label for="" class="lc-ui-label">开始时间:</label>
			<div class="lc-ui-rs">
				<p class="time-wrap">
					<input id="bTime" class="lc-ui-input time-input w280" type="text" placeholder="">
					<span>(年-月-日)</span>
				</p>
				<p class="time-wrap">
					<input id="bhourTime" class="lc-ui-input time-input w280" type="text" placeholder="">
					<span>(时:分:秒)</span>
				</p>
	        </div>
	    </div>
		<div class="lc-ui-form-item">	
			<label for="" class="lc-ui-label">结束时间:</label>
			<div class="lc-ui-rs">
				<p class="time-wrap">
					<input id="eTime" class="lc-ui-input time-input w280" type="text" placeholder="">
					<span>(年-月-日)</span>
				</p>
				<p class="time-wrap">
					<input id="ehourTime" class="lc-ui-input time-input w280" type="text" placeholder="">
					<span>(时:分:秒)</span>
				</p>
	        </div>
	    </div>
	    <div class="lc-ui-form-item">
	    	<label for="" class="lc-ui-label">&nbsp;</label>
	    	<div class="lc-ui-rs">
		    	<input value="1" type="radio" id="startLoop" name="isLoop" class="loopgroup"><label class="radio-label"  for="">开启循坏</label>
				<input value="0" checked="true" type="radio" id="closeLoop" name="isLoop" class="loopgroup"><label class="radio-label" for="">关闭循坏</label>
				<div id="weekWrap" class="mt10">
					<input type="checkbox" value="1" id="weekgroup" class="firstwg weekgroup" name="weekgroup">星期一
					<input type="checkbox" value="2" id="weekgroup" class="weekgroup" name="weekgroup">星期二
					<input type="checkbox" value="3" id="weekgroup" class="weekgroup" name="weekgroup">星期三
					<input type="checkbox" value="4" id="weekgroup" class="weekgroup" name="weekgroup">星期四
					<input type="checkbox" value="5" id="weekgroup" class="weekgroup" name="weekgroup">星期五
					<input type="checkbox" value="6" id="weekgroup" class="weekgroup" name="weekgroup">星期六
					<input type="checkbox" value="0" id="weekgroup" class="weekgroup" name="weekgroup">星期日
				</div>
			</div>
	    </div>
	    <div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	            &nbsp;
	        </label>
	        <div class="lc-ui-rs">
		    	<a href="javascript:;" id="save" class="ui-button ui-button-ldarkblue fn-left">保存</a>
		    	<a href="javascript:;" id="reset" class="ui-button ui-button-ldarkred fn-right">重置</a>
	    	</div>
	    </div>
	</div>
</script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript"  src="{{ this.module.assetsUrl }}/static/js/third/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LLNo76ryWwY3Rm6gKyKebu7o"></script>
	<script>
		seajs.use('{{ this.module.assetsUrl }}/static/js/page/actAdd.js');
	</script>
</script>
{% endblock %}