{% extends '/modules/manager/views/layouts/main.twig' %}

{% block stylesheet %}

{% endblock %}

{% block content %}
<div class="ui-box mt20">
    <div class="ui-box-head blue">
        <h3 class="ui-box-head-title">管理员模块</h3>
    </div>
    <div class="ui-box-container mh380">
		<div id="mainPanel">
			<div class="search-wrap">
				{% if type == 1 %}
	    		<span class="">管理员类型</span>
	    		<div class="ui-select-container va-10">
	    			<div class="ui-select-wrap">
			    		<div class="ui-select" id="managerSelect" style="width: 120px">
							<a href="#" class="ui-select-trigger">
								<span id="spanText" value="all">所有</span>
								<i class="iconfont" title="下三角形">&#xF03C;</i>
							</a>
							<ul class="ui-select-content">
								<li class="ui-select-item"><a href="#" data-val="all">所有</a></li>
								<li class="ui-select-item"><a href="#" data-val="yyzy">运营专员</a></li>								
								<li class="ui-select-item"><a href="#" data-val="jdy">监督员</a></li>								
								<li class="ui-select-item"><a href="#" data-val="citym">城市管理员</a></li>
							</ul>
						</div>			    				
	    			</div>
	    		</div>
				<a href="javascript:;" id="searchBtn" class="ui-button ui-button-ldarkblue">搜索</a>
				{% endif %}
				<a href="javascript:;" id="create" class="mb10 ui-button ui-button-ldarkred">创建管理员</a> 
			</div> 
			<div class="ui-tab">
			    <ul class="ui-tab-items">
			        <li class="ui-tab-item ui-tab-item-current">
			            <a href="javascript:;" id="adminList">管理员列表</a>
			        </li>
			    </ul>
			    <div class="ui-switchable-content mt10">
		            <div id="adminListCon"></div>
		            <div id="rabishListCon"></div>
			    </div>
			</div>
		</div>
		<div id="secondPanel">
			<div class="return-wrap">
    			<a href="javascript:;" id="return" class="return-button ui-button ui-button-sdarkred fn-right">返回</a>
			</div>
    		<div id="operateWrap"></div>
		</div>
		</div>
    </div>
</div>
{%  endblock %}

{% block template %}
<script type="text/template" id="create_manager_template">
	<div class="lc-ui-form" name="" method="post" action="#">
		<div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	            登录名:
	        </label>
	        <div class="lc-ui-rs">
				<input id="uName" class="lc-ui-input w280" type="text" placeholder="">
	        </div>
	    </div>
		<div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	            姓名:
	        </label>
	        <div class="lc-ui-rs">
				<input id="name" class="lc-ui-input w280" type="text" placeholder="">
	        </div>
	    </div>
		<div class="lc-ui-form-item" id="authorityCon">
	        <label for="" class="lc-ui-label">
	            权限:
	        </label>
	        <div class="lc-ui-rs">
				<select name="" id="authoritySelect">
					<option value="11">数据管理员</option>
					<option value="12">运营专员</option>
					<option value="101">城市管理员</option>
				</select>
	        </div>
	    </div>

		<div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	            密码:
	        </label>
	        <div class="lc-ui-rs">
				<input id="uPass" class="lc-ui-input w280" type="password" placeholder="">
	        </div>
	    </div>
		<div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	            再次输入密码:
	        </label>
	        <div class="lc-ui-rs">
				<input id="surePass" class="lc-ui-input w280" type="password" placeholder="">
	        </div>
	    </div>
		<div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">&nbsp;</label>
	        <div class="lc-ui-rs">
			    <div class="fn-clear">
			    	<a href="javascript:;" id="add" class="ui-button ui-button-sdarkred">确认添加</a>
			    </div>	
	        </div>
	    </div>
	</div>
</script>
<script type="text/template" id="update_manager_template">
	<div class="lc-ui-form" name="" method="post" action="#">
		<div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	            登录名:
	        </label>
	        <div class="lc-ui-rs">
				<span class="lc-ui-form-span"><%= u_name %></span>
	        </div>
	    </div>
		<div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">
	            姓名:
	        </label>
	        <div class="lc-ui-rs">
				<input id="name" value="<%= name %>" class="lc-ui-input w280" type="text" placeholder="">
	        </div>
	    </div>
		<div class="lc-ui-form-item">
	        <label for="" class="lc-ui-label">&nbsp;</label>
	        <div class="lc-ui-rs">
			    <div class="fn-clear">
			    	<a href="javascript:;" id="update" class="ui-button ui-button-sdarkred">修改</a>
			    </div>	
	        </div>
	    </div>
	</div>
</script>
{% endblock %}

{% block javascript %}
	<script>
		seajs.use('{{ this.module.assetsUrl }}/static/js/page/managers.js');
	</script>
</script>
{% endblock %}