{% extends '/modules/manager/views/layouts/main.twig' %}

{% block stylesheet %}
<link href="{{ this.module.assetsUrl }}/static/ueditor1_4_3-utf8-php/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="ui-box mt20">
    <div class="ui-box-head blue">
        <h3 class="ui-box-head-title">爆料列表</h3>
    </div>
    <div class="ui-box-container mh380">
		<div id="mainPanel">
			<div class="ui-tab">
			    <ul class="ui-tab-items">
			        <li class="ui-tab-item ui-tab-item-current">
			            <a href="javascript:;" id="adminList">爆料列表</a>
			        </li>
			        <li class="ui-tab-item">
			            <a href="javascript:;" id="adminList">爆料回收站列表</a>
			        </li>
			    </ul>
			    <div class="ui-switchable-content mt10">
		            <div id="listCon"></div>
		            <div id="rabishListCon"></div>
			    </div>
			</div>
		</div>
		<div id="secondPanel">
    		<div class="return-wrap"> 
    			<a href="javascript:;" id="return" class="return-button ui-button ui-button-sdarkred fn-right">返回</a>
    		</div>
    		<div id="operateWrap"></div>
		</div>
    </div>
</div>
{%  endblock %}

{% block template %}

{% endblock %}

{% block javascript %}
	<script>
		seajs.use('{{ this.module.assetsUrl }}/static/js/page/tipoff.js');
	</script>
{% endblock %}