{% extends '/modules/org/views/layouts/main.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ this.module.assetsUrl }}/static/css/set/set_zl.css" />
{% endblock %}
 {% block content %}
<!--内容-->
<div class="c_1">
    <div  class="c_2">
       <div class="c_3">
           <a class="c_4" href="/org/default/index"></a>
           <a class="c_5" href="/org/default/zl">设置</a>
           <a class="c_6" href="/org/default/costdetail">款项</a>
           <a class="c_7" href="/org/default/index">活动</a>
         <div class="clear"></div>
       </div>
    </div>
</div>

 <div class="c1_1">
    <div class="c1_2">
        <a class="c1_3" href="/org/default/zl">资料</a>
        <a class="c1_4" href="/org/default/pwd">密码修改</a>
        <a class="c1_5" href="/org/default/admin">管理设置</a>
        <div class="clear"></div>
    </div>
 </div>

<div class="c2_1">
    <div  class="c2_2">
       <div class="c2_3">
          <div class="c2_3_1"></div>
          <div class="c2_3_2">
               <div class="c2_3_3">团名:&nbsp;</div>
               <div class="c2_3_4"><input type="text" class="c2_3_4_1" maxlength="20"  id="org_name"/></div>
          </div>
          <div class="c2_4"></div>
          <div class="c2_5">
             <div class="c2_5_1">
               <div class="c2_5_2">团名LOGO:&nbsp;</div>
               <input class="c2_5_3" type="button" name="fileUpload" id="fileUpload" value="" />
               <div class="c2_5_4">
                   <img  style="width: 100%;height: 100%;border-radius: 80px 80px 80px 80px;  "  id="logo_img_url"/>
               </div>
             </div>
          </div>
          <div class="c2_6"></div>
          <div class="c2_7">
             <div class="c2_7_1">
               <div class="c2_7_2">简介:&nbsp;</div>
               <div class="c2_7_3">
                    <!--div id="p_detail" style="width: 560px; height:162px; border: 1px solid #CCCCCC;"></div-->
                    <textarea id="p_detail" style="width: 560px; height:162px; border: 1px solid #CCCCCC;resize: none;" ></textarea>
               </div>
             </div>
          </div>
          
          <div class="c2_3_1"></div>
          <div class="c2_3_2">
               <div class="c2_3_3">联系电话:&nbsp;</div>
               <div class="c2_3_4"><input type="text" class="c2_3_4_1" maxlength="20"  id="contact_way"/></div>
          </div>
          <div class="c2_3_1"></div>
          <div class="c2_3_2">
               <div class="c2_3_3">地址:&nbsp;</div>
               <div class="c2_3_4"><input type="text" class="c2_3_4_1" maxlength="20"  id="address"/></div>
          </div>
          
          
          <div class="c2_8"></div>
          <div class="c2_9" id="save"></div>
          <div class="c2_10"></div>
          
       </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{{ this.module.assetsUrl }}/static/js/hashmap/ajaxupload.js"></script>
	<script> 
        var uploader_url = "/user/userInfo/imgUp";
		seajs.use('{{ this.module.assetsUrl }}/static/js/page/zl.js');
        //new nicEditor({fullPanel : true}).panelInstance('p_detail',{hasPanel : true});
	</script>
{% endblock %}