
/*ÄÚÈÝ*/
/*1*/
.c_1{width: 100%;height:auto;}
.c_2{margin: auto; width: 1200px;height: auto;}
.c_3{width: 100%;height: 80px;}
.c_4{float: left; width:168px;height:80px;background: url("../../images/index/c_1.png") no-repeat center;}
.c_5{display: block;float: right; width:102px;height:80px;line-height: 80px;text-align: center;cursor: pointer;font-weight: bold;font-size:20px;color: #676767;}
.c_6{display: block;float: right; width:102px;height:80px;line-height: 80px;text-align: center;cursor: pointer;color:white;font-weight: bold;font-size:20px;background: url("../../images/index/c_2.png") no-repeat center;}
.c_7{float: right; width:102px;height:80px;line-height: 80px;text-align: center;font-weight: bold;font-size:20px;color: #676767;}
/*2*/
.c1_1{width: 100%;height:35px;background-color: #F9F9F9;}
.c1_2{margin: auto; width: 1200px;height:35px;}
.c1_3{float: left; width: auto;height:35px;line-height: 35px;font-size: 16px;font-weight: bold;color: #656565;}
.c1_4{display: block; margin-left:25px; float: left; width: auto;height:35px;line-height: 35px;font-size: 16px;color: #FF6500;font-weight: bold; }
.c1_5{margin-left:25px;float: left; width: auto;height:35px;line-height: 35px;font-size: 16px;color: #656565;font-weight: bold; }
/*3*/
.c2_1{width: 100%;height:auto; }
.c2_2{margin: auto; width: 1200px;height: auto;min-height:670px;}
.c2_2_1{width: 100%;height:40px; }
.c2_2_2{width: 100%;height:52px;background-color: #F9F9F9;}
.zd{float:left;width: 114px;height:52px;line-height:52px;text-align: center;background: url("../../images/payment/mx1.png") no-repeat center;cursor: pointer;color: #676767;font-weight: bold;}
.sr{float:left;width: 114px;height:52px;line-height:52px;text-align: center;cursor: pointer;color: #676767;font-weight: bold;}
.zc{float:left;width: 114px;height:52px;line-height:52px;text-align: center;cursor: pointer;color: #676767;font-weight: bold;}
.cz{float:left;width: 114px;height:52px;line-height:52px;text-align: center;cursor: pointer;color: #676767;font-weight: bold;}
.tx{float:left;width: 114px;height:52px;line-height:52px;text-align: center;cursor: pointer;color: #676767;font-weight: bold;}

.c2_2_3{width: 100%;height:55px;line-height: 55px;border-bottom: 2px solid #E3E4E8;color: #A5A9AC;}
.c2_2_3_1{float: left;width:180px;height:55px;line-height: 55px;text-align: left;font-weight: bold;}
.c2_2_3_2{float: left;width:320px;height:55px;line-height: 55px;text-align: left;font-weight: bold;}
.c2_2_3_3{float: left;width:215px;height:55px;line-height: 55px;text-align: left;font-weight: bold;}
.c2_2_3_4{float: left;width:335px;height:55px;line-height: 55px;text-align: left;font-weight: bold;position: relative;}
.c2_2_3_4 .pay-bz-box{ 
	position: absolute;
	width: 0px;
	height: 0px;
	background: url('../../images/index/pay-bz.png');
	top: 2px;
	left: 22px;
	transition: all 0.3s ease 0; 
	z-index: 10;
}
.c2_2_3_4:hover .pay-bz-box{
	height: 140px;
	width: 400px; 
	top: -123px;
	left: -175px;
}
.c2_2_3_5{float: left;width:150px;height:55px;line-height: 55px;text-align: left;font-weight: bold;}

.c2_2_4{width: 100%;height: 35px;line-height: 35px; color: #A5A9AC;}
.c2_2_5{width: 100%;height: 35px;line-height: 35px;color: #A5A9AC;background-color: #F5F5F5;}

.c2_2_4_1{float: left;width:180px;height:auto;text-align: left;}
.c2_2_4_2{float: left;width:320px;height:auto;text-align: left;}
.c2_2_4_3{float: left;width:215px;height:auto;text-align: left;}
.c2_2_4_4{float: left;width:335px;height:auto;text-align: left;}
.c2_2_4_5{float: left;width:150px;height:auto;text-align: left;}

.lb{width: 100%;height:40px;}


